<% layout('/layouts/default.html', {title: '设备管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('设备管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('device:deviceEntity:edit')){ %>
					<a href="${ctx}/device/deviceEntity/form" class="btn btn-default btnTool" title="${text('新增设备')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${deviceEntity}" action="${ctx}/device/deviceEntity/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('设备名称')}：</label>
					<div class="control-inline">
						<#form:input path="deviceName" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('设备编号')}：</label>
					<div class="control-inline">
						<#form:input path="deviceNum" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('设备rfid')}：</label>
					<div class="control-inline">
						<#form:input path="deviceRfid" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('站所名称')}：</label>
					<div class="col-sm-8">
						<#form:treeselect id="station" title="${text('站所选择')}"
						path="stationId" labelPath="stationName"
						url="${ctx}/station/list"
						class="required" allowClear="false" canSelectRoot="true" canSelectParent="true"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('排序')}：</label>
					<div class="control-inline">
						<#form:input path="orderNum" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('逻辑删除')}：</label>
					<div class="control-inline">
						<#form:input path="isDel" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('创建时间')}：</label>
					<div class="control-inline">
						<#form:input path="createTime" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('更新时间')}：</label>
					<div class="control-inline">
						<#form:input path="updtTime" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('更新人')}：</label>
					<div class="control-inline">
						<#form:input path="updtBy" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm isQuick">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("设备名称")}', name:'deviceName', index:'a.device_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/device/deviceEntity/form?deviceId='+row.deviceId+'" class="btnList" data-title="${text("编辑设备")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("设备编号")}', name:'deviceNum', index:'a.device_num', width:150, align:"left"},
		{header:'${text("设备rfid")}', name:'deviceRfid', index:'a.device_rfid', width:150, align:"left"},

		{header:'${text("站所名称")}', name:'stationName', index:'a.station_id', width:150, align:"center"},
		{header:'${text("排序")}', name:'orderNum', index:'a.order_num', width:150, align:"center"},
		{header:'${text("逻辑删除")}', name:'isDel', index:'a.is_del', width:150, align:"center"},
		{header:'${text("创建时间")}', name:'createTime', index:'a.create_time', width:150, align:"center"},
		{header:'${text("更新时间")}', name:'updtTime', index:'a.updt_time', width:150, align:"center"},
		{header:'${text("更新人")}', name:'updtBy', index:'a.updt_by', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			//<% if(hasPermi('device:deviceEntity:edit')){ %>
				actions.push('<a href="${ctx}/device/deviceEntity/form?deviceId='+row.deviceId+'" class="btnList" title="${text("编辑设备")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/device/deviceEntity/delete?deviceId='+row.deviceId+'" class="btnList" title="${text("删除设备")}" data-confirm="${text("确认要删除该设备吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			//<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>