<% layout('/layouts/default.html', {title: 'base_constant管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('base_constant管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('base:baseConstantEntity:edit')){ %>
					<a href="${ctx}/base/baseConstantEntity/form" class="btn btn-default btnTool" title="${text('新增base_constant')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${baseConstantEntity}" action="${ctx}/base/baseConstantEntity/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('类型')}：</label>
					<div class="control-inline">
						<#form:input path="ctype" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('代码')}：</label>
					<div class="control-inline">
						<#form:input path="ccode" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('值')}：</label>
					<div class="control-inline">
						<#form:input path="cvalue" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('父级id')}：</label>
					<div class="control-inline">
						<#form:input path="pid" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('父级code')}：</label>
					<div class="control-inline">
						<#form:input path="pcode" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('排序')}：</label>
					<div class="control-inline">
						<#form:input path="orderNum" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm isQuick">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("类型")}', name:'ctype', index:'a.c_type', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/base/baseConstantEntity/form?cid='+row.cid+'" class="btnList" data-title="${text("编辑base_constant")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("代码")}', name:'ccode', index:'a.c_code', width:150, align:"left"},
		{header:'${text("值")}', name:'cvalue', index:'a.c_value', width:150, align:"left"},
		{header:'${text("父级id")}', name:'pid', index:'a.p_id', width:150, align:"center"},
		{header:'${text("父级code")}', name:'pcode', index:'a.p_code', width:150, align:"left"},
		{header:'${text("排序")}', name:'orderNum', index:'a.order_num', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			//<% if(hasPermi('base:baseConstantEntity:edit')){ %>
				actions.push('<a href="${ctx}/base/baseConstantEntity/form?cid='+row.cid+'" class="btnList" title="${text("编辑base_constant")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/base/baseConstantEntity/delete?cid='+row.cid+'" class="btnList" title="${text("删除base_constant")}" data-confirm="${text("确认要删除该base_constant吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			//<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>